@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>Разработчик:</strong> <a href="mailto:rusakov-rv@yandex.ru">rusakov-rv@yandex.ru</a><br />
</address>